

/* CSS */
.button-3 {
  appearance: none;
  background-color: #7342F9;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 8px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}



.button-3:focus {
 
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #7342F9;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


  
  .banner-container {
    position: relative;
  }
  
  .content-container {
    position: absolute;
    /* left: 70px;  Adjust the left padding as needed  */
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
  }
  
  .content-container h1, .content-container p, .content-container .button-3, .content-container .button-23 {
    margin: 10px 0; /* Add padding to the top and bottom of each element */
  }

